
pipelines:
  default:
    - step:
        name: Sync to GitHub Mirror
        image: alpine/git:latest
        clone:
          depth: full 
        script:
          - git fetch --all --prune --tags
          - git remote add mirror git@github.com:kutspavlo/wetest_poc.git || true
          - git push mirror --force --prune 'refs/remotes/origin/*:refs/heads/*' 'refs/tags/*:refs/tags/*'