# This file is in the root of your Bitbucket repo
# bitbucket-pipelines.yml

pipelines:
  default:
    - step:
        name: Sync to GitHub Mirror
        image: alpine/git:latest
        clone:
          depth: full 
        script:
          - git fetch --all --prune
          - git remote add mirror git@github.com:kutspavlo/wetest_poc.git || true
          - git push --mirror mirror