# This file is in the root of your Bitbucket repo
# bitbucket-pipelines.yml

pipelines:
  default: # This will run on every push to any branch
    - step:
        name: Sync to GitHub Mirror
        image: alpine/git:latest
        # We are NOW using the default clone (clone: enabled: true)
        # So Bitbucket automatically fetches the code.
        script:
          # 1. Add your GitHub repo as a new 'remote' called 'mirror'
          #    This uses the GitHub SSH key you already set up.
          - git remote add mirror git@github.com:YOUR_USERNAME/YOUR_GITHUB_REPO.git
          
          # 2. Push all branches and tags from the local repo to the 'mirror' remote
          - git push --mirror mirror